on:
    pull_request:
name: test
jobs:
    eslint:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: 20
            registry-url: "https://registry.npmjs.org"
        - run: npm ci
        - run: npm run lint
    commit-lint:
      runs-on: ubuntu-latest
      name: Validate all commits
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0
        - name: Conventional Commits Checker
          uses: netodevel/convetional-commits-checker@v1.0.1
          id: commits-check
          with: # do not change the order of params
            target-branch: ${{ github.event.pull_request.base.ref }}  #required
            current-branch: ${{ github.event.pull_request.head.ref }} #required
            pattern: '^\s*(feat|fix|ci|chore|docs|test|style|refactor)(\(.{1,}\))?: .{1,}$' #optional custom validation commit
    test:
      timeout-minutes: 15
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
